<%- include('../partials/head') %>
    <link rel="stylesheet" href="/stylesheets/searchPage.css">
</head>
<body>
    <%- include('../partials/navigation') %>
    <main>
        <div class="search_engine">
            <label for="search_image"></label>
            <form action="/images/show" method="POST">
                <div class="form_value_search">
                    <label for="search_element">Search:</label>
                    <input type="text" id="search_element" name="search" required/>
                    <input type="hidden" id="per_page" name="per_page" value="80">
                    <input type="hidden" id="page" name="page" value="1">
                </div> <br>
                <button class="search_submit" type="submit">search</button>
            </form>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>

</html>