<%- include('../partials/header') %>
    <link rel="stylesheet" href="/stylesheets/gallery.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
</head>
<body>
    <%- include('../partials/navigation') %>
        <h2>Image Seargh App</h2>
        <form action="/images/show" method="POST">
            <div>
                <label for="search_element">
                    Search:
                </label>
                <input type="text" id="search_element" name="search" required>
                <input type="hidden" id="per_page" name="per_page" value="80">
                <input type="hidden" id="page" name="page" value="1">
            </div>
            <button type="submit">
                search
            </button>
        </form>

</body>
<%- include('../partials/footer') %>
</html>