<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="display_collections">
        <%- include('../partials/navigation') %>
        <ul>
            <% imageSet.forEach((image) => { %>
                <li>
                    <img src="<%= image.ima_Medium %>" alt="">
                </li>
            <% }) %>
        </ul>
    </div>
</body>
</html>